<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>Russian & Coding</title>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"  crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <!-- Bootstrap and Custom Overide -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">


    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Russian & Coding by Phil Harm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item text-black">
                <a class="nav-link text-black font-weight-bold" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black font-weight-bold" href="{% url 'russian' %}">Russian</a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black font-weight-bold" href="{% url 'coding' %}">Coding</a>
            </li>
          </ul>

        </div>
      </nav>




        {% block content %}
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h3 class=" site-heading my-4 mt-3 text-white"> Documenting my progress learning Russian Language and Computer Programming </h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">@2019 - {{CY}} Russian & Coding  </p>
        </footer>

    </body>
</html>
